---
import Layout from "../../layouts/index.astro"

const meta = {
	description: "CyberFern.com terms of use",
	title: "Terms of use :: CyberFern.com",
}
---

<Layout {meta}>
	<main>
		<article class="page">
			<h1>Terms of use</h1>
			<p>By viewing and using this site, you agree to these terms of use.</p>
			<section id="agreement-to-terms">
				<header>
					<h2>Agreement to terms of use</h2>
				</header>
				<p>
					Welcome to CyberFern.com (the “site”), a website hosted and operated
					by CyberFern, Limited (“we,” “our,” “CyberFern”).
				</p>
				<p>These terms apply to:</p>
				<ol>
					<li>the entire contents of the site</li>
					<li>to any web feeds produced by the site</li>
					<li>to any feedback or submissions provided through the site</li>
				</ol>
				<p>
					By viewing and using the site, you agree to these <em
						>terms of use.</em
					>
				</p>
				<section id="disclaimer">
					<header>
						<h2>Disclaimer</h2>
					</header>
					<p>CyberFern disclaims and excludes all liability for any</p>
					<ol>
						<li>claim</li>
						<li>loss</li>
						<li>
							demand or damages of any kind whatsoever (including for
							negligence)
						</li>
					</ol>
					<p>
						that arise out of or in connection with the use of either this
						website or the
					</p>
					<ol>
						<li>information</li>
						<li>content</li>
						<li>or materials</li>
					</ol>
					<p>included on this site or on any website we link to.</p>
				</section>
				<section id="continuity-of-service">
					<header>
						<h2>Continuity of service</h2>
					</header>
					<p>
						CyberFern makes no warranty or representation, express or implied,
						about continuity of service. We reserve the right to suspend, end,
						or otherwise alter access to some or all the siteʼs services. We may
						do so at any time and without notice.
					</p>
				</section>
				<section id="your-information">
					<header>
						<h2>Your information</h2>
					</header>
					<p>
						We may treat any material you send or post publicly to the site as
						non-confidential. This includes feedback or submissions you provide.
						It excludes personal information covered in our <a
							href="/privacy-policy">privacy policy.</a
						>
					</p>
				</section>
				<section id="copyright">
					<header>
						<h2>Copyright</h2>
					</header>
					<p>
						All information on this site is copyright 2024 by CyberFern.com. All
						rights reserved.
					</p>
					<p>We recognize fair use, of course, with attribution.</p>
				</section>
				<section id="revisions-to-these-terms-of-use">
					<header>
						<h2>Revisions to terms of use</h2>
					</header>
					<p>
						CyberFern may revise these terms of use at any time. Any such
						revisions take effect upon publication here of the revised terms.
					</p>
					<p>
						<a href="mailto:info@cyberfern.com">Contact us</a> for further information.
					</p>
				</section>
			</section>
		</article>
	</main>
</Layout>
