---
import Layout from "../../layouts/index.astro"
---

<Layout title="Terms of use :: CyberFern.com">
	<header>
		<div>
			<div class="logo">
				<p><a href="/">CyberFern</a></p>
			</div>
			<address>Wellington, New Zealand</address>
		</div>
		<nav>
			<ul>
				<li>
					<a href="/#about">About</a>
				</li>
				<li>
					<a href="/#contact">Contact</a>
				</li>
			</ul>
		</nav>
	</header>
</Layout>
<main></main>
