---
import Layout from "../layouts/index.astro"
---

<Layout title="CyberFern.com">
	<main>
		<section class="hero">
			<div>
				<div class="hero-text">
					<h1>Fostering Cyber Resilience</h1>
					<p>
						Welcome to CyberFern, where we empower your business providing
						expert guidance in cyber resilience, cyber intelligence, cyber risk
						assessment and management. We will help you to navigate your
						business securely through the modern digital landscape. Let&rsquo;s
						build a safer future together.
					</p>
					<p>
						Let&rsquo;s talk!
						<a
							class="button"
							href="https://calendly.com/annalezhikova-ne7b/cybersecruitychat"
							rel="external"
							>Book a chat</a
						>
					</p>
				</div>
				<div class="hero-image">
					<img
						alt=""
						height="4480"
						src="/images/ferns.jpg"
						width="6720"
					/>
				</div>
			</div>
		</section>
		<section class="what">
			<header>
				<h2>What We Do</h2>
			</header>
			<div class="cards">
				<div class="card">
					<img
						alt=""
						height="2333"
						src="/images/risk-management.jpg"
						width="3500"
					/>
					<h3>Risk management</h3>
					<p>
						Manage your cybersecurity risks effectively. Gain control and
						protect your digital assets with our expert guidance. Strengthen
						your defenses against online threats now.
					</p>
				</div>
				<div class="card">
					<img
						alt=""
						height="3500"
						src="/images/assessments.jpg"
						width="2333"
					/>
					<h3>Assessments</h3>
					<p>
						Get ready for cybersecurity assessments and certifications. Follow
						<a
							href="https://www.nist.gov/"
							rel="external"
							title="National Institute of Standards and Technology"
							>NIST</a
						>,
						<a
							href="https://www.nzism.org/"
							rel="external"
							title="New Zealand Institute of Safety Management"
							>NZISM</a
						>,
						<a
							href="https://www.cisecurity.org/"
							rel="external"
							title="Center for Internet Security"
							>CIS</a
						>, and
						<a
							href="https://www.iso.org/standard/iso-iec-27000-family"
							rel="external"
							title="International Organization for Standardization ISO/IEC 27000 family"
							>ISO27K</a
						> standards. Ensure compliance and protection for your digital assets.
					</p>
				</div>
				<div class="card">
					<img
						alt=""
						height="3500"
						src="/images/training.jpg"
						width="2333"
					/>
					<h3>Training</h3>
					<p>
						Boost cyber defense with tailored awareness campaigns, relevant
						newsletters, tabletop drills, and incident response workshops.
						Strengthen your team today.
					</p>
				</div>
			</div>
		</section>
		<div class="why">
			<heading>
				<h2>Why Choose Us?</h2>
			</heading>
			<p>
				We use a holistic approach, integrating people, processes, and
				technology—human-centric and business-oriented solutions for robust
				cybersecurity.
			</p>
		</div>
	</main>
	<section
		id="about"
		class="about"
	>
		<header>
			<h2>About CyberFern</h2>
		</header>
		<div>
			<div class="about-content">
				<p>CyberFern was founded by Anna Lezhikova.</p>
				<p>
					She has over 20 years of experience in communications, business
					management, software development, DevOps, and DevSecOps. She
					understands not only the technology, but also people and processes:
					the triad of good cybersecurity.
				</p>
				<p>
					Let&rsquo;s work together to protect what matters most to you and your
					organisation.
				</p>
			</div>
		</div>
	</section>
</Layout>
