---
import "./styles/global.css"

interface Props {
	meta: {
		description: string
		robots?: string[]
		title: string
	}
}

const { meta } = Astro.props

const { pathname } = Astro.url

const isHome = pathname.length < 2

const { description, robots = ["index", "follow"], title } = meta
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={description}
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			href={Astro.url}
			rel="canonical"
		/>
		<meta
			name="robots"
			content={robots.join(", ")}
		/>
		<meta
			name="author"
			content="Anna Lezhikova"
		/>
		<meta
			name="publisher"
			content="Anna Lezhikova"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<title>{title}</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<p>
					{
						isHome ? (
							"CyberFern"
						) : (
							<a
								href="/"
								title="To the home page."
							>
								CyberFern
							</a>
						)
					}
				</p>
			</div>
			<nav>
				<ul>
					<li>
						<a
							href="/#about"
							title="About CyberFern.com."
							>About</a
						>
					</li>
					<li>
						<a
							href="#contact"
							title="Contact CyberFern.com."
							>Contact</a
						>
					</li>
				</ul>
			</nav>
		</header>
		<slot />
		<footer>
			<h2 class="sr-only">Supplemental information</h2>
			<nav
				aria-label="Supplemental navigation"
				class="supplemental"
			>
				<ul>
					<li>
						{
							pathname === "/privacy-policy" ? (
								<span
									aria-current
									class="this-page"
									title="This page."
								>
									Privacy
								</span>
							) : (
								<a
									href="/privacy-policy"
									title="Our privacy policy"
								>
									Privacy
								</a>
							)
						}
					</li>
					<li>
						{
							pathname === "/terms-of-use" ? (
								<span
									aria-current
									class="this-page"
									title="This page."
								>
									Terms
								</span>
							) : (
								<a
									href="/terms-of-use"
									title="Our terms of use"
								>
									Terms
								</a>
							)
						}
					</li>
				</ul>
			</nav>
			<section
				id="contact"
				class="contact-info"
			>
				<h3 class="sr-only">Contact info</h3>
				<strong class="highlight">Contact Anna:</strong>
				<a
					href="tel:+642102736163"
					title="Call Anna"
					>+64 (0) 210 273 6163</a
				>
				<a
					href="mailto:info@cyberfern.com"
					title="Email Anna"
					>info@cyberfern.com</a
				>
			</section>
		</footer>
	</body>
</html>
