---
import "./styles/local.css"

interface Props {
	title: string
}

const { title } = Astro.props

const isHome = Astro.url.pathname.length < 2
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="The Cyberfern.com website."
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<title>{title}</title>
	</head>
	<body>
		<header>
			<div>
				<div class="logo">
					<p>
						{
							isHome ? (
								"CyberFern"
							) : (
								<a
									href="/"
									title="To the home page."
								>
									CyberFern
								</a>
							)
						}
					</p>
					<address>Wellington, New Zealand</address>
				</div>
				<nav>
					<ul>
						<li>
							<a href="/#about">About</a>
						</li>
						<li>
							<a href="#contact">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<slot />
		<footer>
			<h2 class="sr-only">Supplemental information</h2>
			<nav class="supplemental">
				<ul>
					<li>
						<a href="/privacy-policy">Privacy</a>
					</li>
					<li>
						<a href="/terms-of-use">Terms</a>
					</li>
				</ul>
			</nav>
			<section
				id="contact"
				class="contact-info"
			>
				<h3 class="sr-only">Contact info</h3>
				<span>Contact Anna:</span>
				<a href="tel:+642102736163">+64 (0) 210 273 6163</a>
				<a href="mailto:info@cyberfern.com">info@cyberfern.com</a>
			</section>
		</footer>
	</body>
</html>
