---
import "./styles/local.css"

interface Props {
	meta: {
		description: string
		robots?: string[]
		title: string
	}
}

const { meta } = Astro.props

const isHome = Astro.url.pathname.length < 2

const { description, robots = ["index", "follow"], title } = meta
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={description}
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="canonical"
			content={Astro.url}
		/>
		<meta
			name="robots"
			content={robots.join(", ")}
		/>
		<meta
			name="author"
			content="Anna Lezhikova"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<title>{title}</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<p>
					{
						isHome ? (
							"CyberFern"
						) : (
							<a
								href="/"
								title="To the home page."
							>
								CyberFern
							</a>
						)
					}
				</p>
				<address>Wellington, New Zealand</address>
			</div>
			<nav>
				<ul>
					<li>
						<a href="/#about">About</a>
					</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
				</ul>
			</nav>
		</header>
		<slot />
		<footer>
			<h2 class="sr-only">Supplemental information</h2>
			<nav class="supplemental">
				<ul>
					<li>
						<a href="/privacy-policy">Privacy</a>
					</li>
					<li>
						<a href="/terms-of-use">Terms</a>
					</li>
				</ul>
			</nav>
			<section
				id="contact"
				class="contact-info"
			>
				<h3 class="sr-only">Contact info</h3>
				<span>Contact Anna:</span>
				<a href="tel:+642102736163">+64 (0) 210 273 6163</a>
				<a href="mailto:info@cyberfern.com">info@cyberfern.com</a>
			</section>
		</footer>
	</body>
</html>
