:root {
	--color-light: hsl(55, 67%, 96%);
	--color-middle: hsl(57, 45%, 91%);
	--color-shaded: hsl(57, 25%, 85%);
	--color-dark: #134e31;
	--color-highlight: #ffe900;
	--color-link: oklch(45% 0.157 247deg);
	--color-link-visited: oklch(47.1% 0.157 296deg);

	/* font sizes */
	--step-0: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
	--step-1: clamp(1.2rem, 1.0957rem + 0.5217vi, 1.5rem);
	--step-2: clamp(1.44rem, 1.3148rem + 0.6261vi, 1.8rem);
	--step-3: clamp(1.728rem, 1.5777rem + 0.7513vi, 2.16rem);
	--step-4: clamp(2.0736rem, 1.8933rem + 0.9016vi, 2.592rem);
	--step-5: clamp(2.4883rem, 2.2719rem + 1.0819vi, 3.1104rem);

	/* spacing */
	--space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vi, 0.625rem);
	--space-xs: clamp(0.75rem, 0.6848rem + 0.3261vi, 0.9375rem);
	--space-s: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
	--space-m: clamp(1.5rem, 1.3696rem + 0.6522vi, 1.875rem);
	--space-l: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
	--space-xl: clamp(3rem, 2.7391rem + 1.3043vi, 3.75rem);
	--space-2xl: clamp(4rem, 3.6522rem + 1.7391vi, 5rem);
	--space-3xl: clamp(6rem, 5.4783rem + 2.6087vi, 7.5rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.25rem, 0.1196rem + 0.6522vi, 0.625rem);
	--space-2xs-xs: clamp(0.5rem, 0.3478rem + 0.7609vi, 0.9375rem);
	--space-xs-s: clamp(0.75rem, 0.5761rem + 0.8696vi, 1.25rem);
	--space-s-m: clamp(1rem, 0.6957rem + 1.5217vi, 1.875rem);
	--space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vi, 2.5rem);
	--space-l-xl: clamp(2rem, 1.3913rem + 3.0435vi, 3.75rem);
	--space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vi, 5rem);
	--space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vi, 7.5rem);

	/* Custom pairs */
	--space-s-l: clamp(1rem, 0.4783rem + 2.6087vi, 2.5rem);

	/* Grid */
	--grid-max-width: 77.5rem;
	--grid-gutter: var(--space-m-l, clamp(1.5rem, 1.1463rem + 1.7467vw, 2.5rem));
	--grid-columns: 12;
}

@layer grid, base, components, responsive;

/* ===== GRID LAYER ===== */

@layer grid {
	body {
		display: grid;
		grid-template-columns:
			[screen-start] 12svw repeat(12, [col-start] 4svw)
			[col-end] 12svw [screen-end];
		grid-template-rows: min-content auto min-content min-content;
		column-gap: 2.5svw;
		row-gap: 0;
	}

	body > header {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
	}

	body > header .logo {
		grid-column: col-start / span 6;
	}

	body > header nav {
		grid-column: col-start 7 / span 6;
	}

	body > header nav ul {
		align-items: flex-end;
		display: flex;
		gap: 2rem;
		justify-content: flex-start;
	}

	main {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
		grid-template-rows: min-content min-content auto;
	}

	main .hero {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
	}

	main .hero header {
		grid-column: col-start / span 12;
	}

	main .hero-text {
		grid-column: col-start / span 6;
	}

	main .hero-text p {
		max-width: 52rem;
	}

	main .hero-image {
		grid-column: col-start 7 / span 6;
	}

	main .what {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
	}

	main .what header {
		grid-column: col-start / span 12;
	}

	main .what .card {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content 5rem auto;
	}

	main .one {
		grid-column: col-start / span 4;
	}

	main .two {
		grid-column: col-start 5 / span 4;
	}

	main .three {
		grid-column: col-start 9 / span 4;
	}

	main .why {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
		grid-template-rows: min-content min-content auto;
	}

	.why p,
	.about p {
		max-width: 70rem;
	}

	main .why heading {
		grid-column: col-start / span 4;
	}

	main .why p {
		grid-column: col-start 5 / span 8;
	}

	body > aside {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
	}

	body > aside.about header {
		grid-column: col-start / span 4;
	}

	body > aside.about .about-content {
		grid-column: col-start 5 / span 8;
	}

	body > footer {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
	}

	footer > nav.supplemental {
		display: grid;
		grid-column: col-start / span 6;
		grid-template-columns: subgrid;
	}

	footer > nav.supplemental ul {
		display: grid;
		grid-column: col-start / span 6;
		grid-template-columns: subgrid;
	}

	footer > nav.supplemental ul li:first-child {
		grid-column: col-start 1 / span 1;
	}

	footer > nav.supplemental ul li:last-child {
		grid-column: col-start 2 / span 1;
	}

	footer > .contact-info {
		align-items: center;
		display: flex;
		gap: 1rem;
		grid-column: col-start 7 / span 6;
		justify-content: flex-end;
	}
}

/* ===== BASE LAYER ===== */

@layer base {
	body {
		background-color: var(--color-dark);
		color: var(--color-light);
		font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
			sans-serif;
		font-size: var(--step-0);
		font-weight: 300;
		line-height: 1.6;
		margin: 0;
		min-height: 100svh;
		padding: 0;
	}

	body > header {
		padding-block-end: 1rem;
	}

	body > header .logo {
		display: flex;
		gap: 2rem;
	}

	body > header .logo > * {
		line-height: 0.9;
	}

	body > header nav ul li {
		line-height: 2.2;
	}

	body > header .logo > *,
	body > header nav ul li {
		margin-block: 0;
		align-items: self-end;
		display: flex;
		height: var(--space-2xl);
	}

	body > header .logo p {
		grid-column: col-start / span 2;
	}

	body > header .logo address {
		grid-column: col-start 3 / span 12;
	}

	main {
		font-weight: 300;
	}

	main .what {
		background-color: var(--color-light);
		color: var(--color-dark);
	}

	main .why {
		background-color: var(--color-middle);
		color: var(--color-dark);
		padding-block: var(--space-l);
	}

	body > aside {
		background-color: var(--color-shaded);
		color: var(--color-dark);
	}

	h1 {
		font-size: var(--step-4);
		font-weight: 400;
		line-height: 1;
		margin-block-start: 0;
	}

	h2 {
		font-size: var(--step-3);
		font-weight: 600;
		padding-block-start: 3rem;
	}

	.why h2,
	.about h2 {
		padding-block-start: 0;
	}

	h3 {
		font-size: var(--step-2);
		font-weight: 600;
	}

	strong {
		font-weight: 700;
	}

	.sr-only {
		display: none !important;
	}
}

@layer components {
	.logo p {
		font-size: var(--step-2);
		font-weight: 500;
	}

	.logo address {
		font-size: var(--step-0);
		font-style: normal;
		font-weight: 400;
	}

	body > header nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	body > header nav ul li {
		padding-block-start: 0.75rem;
	}

	a,
	a:visited {
		color: var(--color-link);
	}

	body > header a,
	body > header a:visited {
		color: var(--color-light);
		text-decoration: none;
		text-transform: uppercase;
	}

	body > header a:focus,
	body > header a:visited:focus,
	body > header a:hover,
	body > header a:visited:hover {
		border-radius: 5px;
		color: var(--color-highlight);
		outline-offset: 5px;
		outline: 1px solid var(--color-highlight);
	}

	section.hero {
		margin-block-start: var(--space-m);
		margin-block-end: 0;
	}

	.hero-text {
		padding-block: 0 var(--space-l);
	}

	.lets-talk {
		padding-block: var(--space-s);
	}

	.hero header {
		font-size: var(--step-4);
		margin-block-start: 0;
		margin-block-end: var(--space-m);
	}

	.hero header h1 {
		line-height: 1.4;
	}

	.hero-image {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow: hidden;
	}

	.hero-image img {
		height: 100%;
		object-fit: cover;
		width: auto;
	}

	.card h3 {
		font-size: var(--step-2);
		font-weight: 600;
		line-height: 1.2;
	}

	.card a {
		text-decoration: none;
	}

	.card a:focus,
	.card a:hover {
		border-radius: 5px;
		color: var(--color-link);
		outline-offset: 3px;
		outline: 1px solid var(--color-link);
	}

	.card img {
		border: 1px solid var(--color-shaded);
	}

	.one img,
	.two img,
	.three img {
		height: auto;
		width: 100%;
	}

	.about-content {
		padding-block: var(--space-xs);
	}

	a.button,
	a.button:visited {
		background-color: var(--color-highlight);
		border: 2px solid var(--color-dark);
		color: var(--color-dark);
		border-radius: 5px;
		font-weight: 500;
		display: inline-block;
		padding: 0.5rem 1rem;
		text-decoration: none;
	}

	a.button:focus,
	a.button:visited:focus,
	a.button:hover,
	a.button:visited:hover {
		background-color: var(--color-dark);
		border: 2px solid var(--color-highlight);
		color: var(--color-highlight);
	}

	.highlight {
		color: var(--color-highlight);
	}

	body > footer {
		padding-block: var(--space-m);
	}

	footer > nav.supplemental ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	footer > nav.supplemental a,
	footer > nav.supplemental a:visited {
		color: var(--color-light);
		font-size: var(--step-0);
		text-decoration: none;
		text-transform: uppercase;
	}

	footer > nav.supplemental a:focus,
	footer > nav.supplemental a:visited:focus,
	footer > nav.supplemental a:hover,
	footer > nav.supplemental a:visited:hover,
	footer > nav.supplemental span.this-page {
		border-radius: 5px;
		color: var(--color-highlight);
		outline-offset: 5px;
		outline: 1px solid var(--color-highlight);
		text-transform: uppercase;
	}

	footer > .contact-info {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: flex-end;
	}

	footer > .contact-info a,
	footer > .contact-info a:visited {
		color: var(--color-light);
		text-decoration: none;
	}

	footer > nav.supplemental a:focus,
	footer > nav.supplemental a:visited:focus,
	footer > nav.supplemental a:hover,
	footer > nav.supplemental a:visited:hover,
	footer > .contact-info a:focus,
	footer > .contact-info a:visited:focus,
	footer > .contact-info a:hover,
	footer > .contact-info a:visited:hover {
		border-radius: 5px;
		color: var(--color-highlight);
		outline-offset: 5px;
		outline: 1px solid var(--color-highlight);
	}
}

@layer responsive {
	@media (width <= 96rem) {
		body {
			grid-template-columns:
				[screen-start] 3svw repeat(18, [col-start] 1fr)
				[col-end] 3svw [screen-end];
			grid-template-rows: min-content auto min-content min-content;
			column-gap: 2svw;
			row-gap: 0;
		}

		body > header .logo {
			grid-column: col-start / span 14;
		}

		.logo p {
			font-size: var(--step-3);
			font-weight: 500;
		}

		body > header nav {
			grid-column: col-start 15 / span 4;
		}

		body > header nav ul {
			align-items: flex-end;
			display: flex;
			gap: 2rem;
			justify-content: flex-end;
		}

		main {
			display: grid;
			grid-column: screen-start / screen-end;
			grid-template-columns: subgrid;
			grid-template-rows: min-content min-content auto;
		}

		main .hero {
			display: grid;
			grid-column: col-start / span 18;
			grid-template-columns: 1fr;
			grid-template-areas: "image" "text";
		}

		main .hero header {
			grid-column: col-start / span 18;
		}

		main .hero-text {
			grid-area: text;
		}

		main .hero-image {
			grid-area: image;
			margin-block-end: var(--space-s);
		}

		main .hero-image img {
			max-height: 25svh;
		}

		main .what > header {
			grid-column: col-start / span 18;
		}

		main .one {
			grid-column: col-start / span 6;
		}

		main .two {
			grid-column: col-start 7 / span 6;
		}

		main .three {
			grid-column: col-start 13 / span 6;
		}

		main .why {
			display: grid;
			grid-column: screen-start / screen-end;
			grid-template-columns: subgrid;
			grid-template-rows: min-content min-content auto;
		}

		main .why heading {
			grid-column: col-start / span 6;
		}

		main .why p {
			grid-column: col-start 7 / span 12;
		}

		body > aside {
			display: grid;
			grid-column: screen-start / screen-end;
			grid-template-columns: subgrid;
		}

		body > aside.about header {
			grid-column: col-start / span 6;
		}

		body > aside.about .about-content {
			grid-column: col-start 7 / span 12;
		}

		body > footer {
			display: grid;
			grid-column: screen-start / screen-end;
			grid-template-columns: subgrid;
		}

		footer > nav.supplemental {
			display: grid;
			grid-column: col-start / span 6;
			grid-template-columns: subgrid;
		}

		footer > nav.supplemental ul {
			display: grid;
			grid-column: col-start / span 6;
			grid-template-columns: subgrid;
		}

		footer > nav.supplemental ul li:first-child {
			grid-column: col-start 1 / span 2;
		}

		footer > nav.supplemental ul li:last-child {
			grid-column: col-start 3 / span 2;
		}

		footer > .contact-info {
			align-items: center;
			display: flex;
			grid-column: col-start 7 / span 12;
			justify-self: flex-end;
		}
	}

	@media (width <= 75rem) {
		body > header .logo {
			flex-direction: column;
			gap: 0.75rem;
			grid-column: col-start / span 10;
			justify-content: flex-end;
		}

		body > header .logo > * {
			height: unset;
		}

		body > header nav {
			grid-column: col-start 11 / span 8;
		}

		body > header nav ul {
			gap: 1rem;
		}

		body > header nav ul li {
			line-height: 0.9;
		}

		body > header nav li:first-child {
			grid-column: col-start 3 / span 3;
		}

		body > header nav li:last-child {
			grid-column: col-start 6 / span 3;
		}
	}

	@media (width < 54rem) {
		.hero header h1 {
			font-size: var(--step-2);
		}

		.lets-talk {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
			justify-content: space-between;
		}

		.lets-talk a.button {
			margin-inline-start: 0;
		}

		main .one,
		main .two,
		main .three,
		main .why heading,
		main .why p,
		body > aside.about header,
		body > aside.about .about-content {
			grid-column: col-start / span 18;
		}

		.why h2,
		.about h2 {
			margin-block: 0;
			padding-block: var(--space-l) var(--space-xs);
		}

		.card h3 {
			font-size: var(--step-2);
		}

		.card p {
			margin-block: 0 var(--space-l);
		}

		.about-content {
			padding-block: 0 var(--space-l);
		}

		.about-content > * {
			padding-block: var(--space-xs);
			margin-block: 0;
		}

		footer > nav.supplemental {
			display: grid;
			grid-column: col-start / span 18;
			grid-template-columns: subgrid;
		}

		footer > nav.supplemental ul {
			align-items: center;
			display: flex;
			gap: 1rem;
			grid-column: col-start / span 18;
			justify-content: flex-start;
		}

		footer > nav.supplemental ul li:first-child {
			grid-column: unset;
		}

		footer > nav.supplemental ul li:last-child {
			grid-column: unset;
		}

		footer > .contact-info {
			align-items: flex-end;
			display: flex;
			flex-direction: column;
			gap: 0;
			grid-column: col-start / span 18;
			justify-content: space-between;
		}
	}

	@media (width < 27rem) {
		body > header {
			height: min-content;
		}

		body > header .logo {
			grid-column: col-start / span 18;
			margin-block: var(--space-l) var(--space-s);
		}

		body > header nav {
			grid-column: col-start / span 18;
		}

		body > header nav ul li {
			height: unset;
		}
	}
}
