:root {
	--color-light: hsl(55, 67%, 96%);
	--color-middle: hsl(57, 45%, 91%);
	--color-shaded: hsl(57, 25%, 85%);
	--color-dark: #134e31;
	--color-highlight: #ffe900;
	--color-link: oklch(44% 0.157 247deg);
	--color-link-visited: oklch(46.5% 0.157 296deg);

	/* font sizes */
	--step-0: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
	--step-1: clamp(1.2rem, 1.0957rem + 0.5217vi, 1.5rem);
	--step-2: clamp(1.44rem, 1.3148rem + 0.6261vi, 1.8rem);
	--step-3: clamp(1.728rem, 1.5777rem + 0.7513vi, 2.16rem);
	--step-4: clamp(2.0736rem, 1.8933rem + 0.9016vi, 2.592rem);
	--step-5: clamp(2.4883rem, 2.2719rem + 1.0819vi, 3.1104rem);

	/* spacing */
	--space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vi, 0.625rem);
	--space-xs: clamp(0.75rem, 0.6848rem + 0.3261vi, 0.9375rem);
	--space-s: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
	--space-m: clamp(1.5rem, 1.3696rem + 0.6522vi, 1.875rem);
	--space-l: clamp(2rem, 1.8261rem + 0.8696vi, 2.5rem);
	--space-xl: clamp(3rem, 2.7391rem + 1.3043vi, 3.75rem);
	--space-2xl: clamp(4rem, 3.6522rem + 1.7391vi, 5rem);
	--space-3xl: clamp(6rem, 5.4783rem + 2.6087vi, 7.5rem);

	/* One-up pairs */
	--space-3xs-2xs: clamp(0.25rem, 0.1196rem + 0.6522vi, 0.625rem);
	--space-2xs-xs: clamp(0.5rem, 0.3478rem + 0.7609vi, 0.9375rem);
	--space-xs-s: clamp(0.75rem, 0.5761rem + 0.8696vi, 1.25rem);
	--space-s-m: clamp(1rem, 0.6957rem + 1.5217vi, 1.875rem);
	--space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vi, 2.5rem);
	--space-l-xl: clamp(2rem, 1.3913rem + 3.0435vi, 3.75rem);
	--space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vi, 5rem);
	--space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vi, 7.5rem);

	/* Custom pairs */
	--space-s-l: clamp(1rem, 0.4783rem + 2.6087vi, 2.5rem);

	/* Grid */
	--grid-max-width: 77.5rem;
	--grid-gutter: var(--space-m-l, clamp(1.5rem, 1.1463rem + 1.7467vw, 2.5rem));
	--grid-columns: 12;
}

@layer grid, base, components, responsive;

/* ===== GRID LAYER ===== */

@layer grid {
	body {
		display: grid;
		grid-template-columns:
			[screen-start] 12svw repeat(12, [col-start] 4svw)
			[col-end] 12svw [screen-end];
		grid-template-rows: min-content auto min-content min-content;
		column-gap: 2.5svw;
		row-gap: 0;
	}

	body > header {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
	}

	body > header .logo {
		grid-column: col-start / span 2;
	}

	body > header nav {
		grid-column: col-start 3 / span 10;
	}

	body > header nav .nav-list {
		align-items: flex-end;
		display: flex;
		gap: 1.5rem;
		justify-content: flex-end;
	}

	body > header nav .nav-mobile {
		display: none;
	}

	main {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
		grid-template-rows: min-content min-content auto;
	}

	main .hero {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
	}

	main .hero header {
		grid-column: col-start / span 12;
	}

	main .hero-text {
		grid-column: col-start / span 7;
	}

	main .hero-text p {
		max-width: 52rem;
	}

	main .hero-image {
		grid-column: col-start 8 / span 5;
	}

	main .what {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
	}

	main .what header {
		grid-column: col-start / span 12;
	}

	main .what .card {
		display: grid;
		grid-template-columns: 1fr;
	}

	main .one {
		grid-column: col-start / span 4;
	}

	main .two {
		grid-column: col-start 5 / span 4;
	}

	main .three {
		grid-column: col-start 9 / span 4;
	}

	main .audiences .one {
		grid-column: col-start / span 3;
	}

	main .audiences .two {
		grid-column: col-start 4 / span 3;
	}

	main .audiences .three {
		grid-column: col-start 7 / span 3;
	}

	main .four {
		grid-column: col-start 10 / span 3;
	}

	main .what > .lets-talk {
		grid-column: col-start / span 12;
		padding-block: var(--space-m) 0;
		text-align: center;
	}

	main .section-shaded,
	main .section-light {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
		grid-template-rows: min-content min-content auto;
	}

	.about p {
		max-width: 70rem;
	}

	main .section-shaded header,
	main .section-light header {
		grid-column: col-start / span 4;
		max-width: 70rem;
		margin-block: 0 var(--space-m);
		padding: 0;
	}

	main .section-shaded h2,
	main .section-light h2 {
		margin-block: 0;
	}

	main .section-shaded > div,
	main .section-light > div {
		grid-column: col-start 5 / span 8;
	}

	main .section-shaded p,
	main .section-light p {
		margin: 0;
		padding-block-end: var(--space-m);
	}

	body > aside {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
	}

	body > aside.about header {
		grid-column: col-start / span 4;
	}

	body > aside.about .about-content {
		grid-column: col-start 5 / span 8;
	}

	body > footer {
		display: grid;
		grid-column: screen-start / screen-end;
		grid-template-columns: subgrid;
	}

	footer > .footer-tagline {
		grid-column: col-start / span 12;
	}

	footer > nav.footer-nav {
		grid-column: col-start / span 12;
	}

	footer > nav.supplemental {
		grid-column: col-start / span 6;
	}

	footer > nav.supplemental ul {
		display: flex;
		gap: 1.5rem;
	}

	footer > .contact-info {
		align-items: center;
		display: flex;
		gap: 1rem;
		grid-column: col-start 7 / span 6;
		justify-content: flex-end;
	}
}

/* ===== BASE LAYER ===== */

@layer base {
	body {
		background-color: var(--color-dark);
		color: var(--color-light);
		font-family:
			Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
		font-size: var(--step-0);
		font-weight: 300;
		line-height: 1.6;
		margin: 0;
		min-height: 100svh;
		padding: 0;
	}

	body > header {
		padding-block-end: 1rem;
	}

	body > header .logo {
		display: flex;
		gap: 2rem;
	}

	body > header .logo > * {
		line-height: 0.9;
	}

	body > header nav ul li {
		line-height: 2.2;
	}

	body > header .logo > *,
	body > header nav ul li {
		margin-block: 0;
		align-items: self-end;
		display: flex;
		height: var(--space-2xl);
	}

	body > header .logo p {
		grid-column: col-start / span 2;
	}

	main {
		font-weight: 300;
	}

	main .what,
	main .section-light {
		background-color: var(--color-light);
		color: var(--color-dark);
		padding-block: var(--space-l);
	}

	main .section-shaded {
		background-color: var(--color-middle);
		color: var(--color-dark);
		padding-block: var(--space-l);
	}

	body > aside {
		background-color: var(--color-shaded);
		color: var(--color-dark);
	}

	h1 {
		font-size: var(--step-4);
		font-weight: 400;
		line-height: 1;
		margin-block-start: 0;
	}

	h2 {
		font-size: var(--step-3);
		font-weight: 600;
		padding-block-start: 3rem;
	}

	.section-shaded h2,
	.section-light h2,
	.about h2 {
		padding-block-start: 0;
	}

	h3 {
		font-size: var(--step-2);
		font-weight: 600;
	}

	strong {
		font-weight: 700;
	}

	blockquote {
		margin: 0;
		padding: 0;
	}

	.sr-only {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	.skip-link {
		background-color: var(--color-highlight);
		color: var(--color-dark);
		font-weight: 500;
		left: -9999px;
		padding: 0.5rem 1rem;
		position: fixed;
		text-decoration: none;
		top: 0;
		z-index: 100;
	}

	.skip-link:focus {
		left: auto;
	}
}

@layer components {
	.logo p {
		font-size: var(--step-2);
		font-weight: 500;
	}

	body > header nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	body > header nav ul li {
		padding-block-start: 0.75rem;
	}

	body > header nav .this-page {
		color: var(--color-highlight);
		text-transform: uppercase;
	}

	a,
	a:visited {
		color: var(--color-link);
	}

	.hero-text a:not(.button),
	.hero-text a:not(.button):visited {
		color: var(--color-light);
	}

	body > header a,
	body > header a:visited {
		color: var(--color-light);
		text-decoration: none;
		text-transform: uppercase;
	}

	body > header a:focus,
	body > header a:visited:focus,
	body > header a:hover,
	body > header a:visited:hover {
		border-radius: 5px;
		color: var(--color-highlight);
		outline-offset: 5px;
		outline: 1px solid var(--color-highlight);
	}

	section.hero {
		margin-block-start: var(--space-m);
		margin-block-end: 0;
	}

	.hero-text {
		padding-block: 0 var(--space-l);
	}

	.lets-talk {
		padding-block: var(--space-s);
	}

	.hero header {
		font-size: var(--step-4);
		margin-block-start: 0;
		margin-block-end: var(--space-m);
	}

	.hero header h1 {
		line-height: 1.4;
	}

	.hero-image {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow: hidden;
		max-height: 600px;
	}

	.hero-image picture {
		height: 100%;
	}

	.hero-image img {
		width: auto;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.card h3 {
		font-size: var(--step-2);
		font-weight: 600;
		line-height: 1.2;
	}

	.card a {
		text-decoration: none;
	}

	.card a:focus,
	.card a:hover {
		border-radius: 5px;
		color: var(--color-link);
		outline-offset: 3px;
		outline: 1px solid var(--color-link);
	}

	.card img {
		border: 1px solid var(--color-shaded);
	}

	.one img,
	.two img,
	.three img {
		height: auto;
		width: 100%;
	}

	.workshop-list > div h3 {
		margin-block: var(--space-l) var(--space-3xs);
	}

	.workshop-list > div h3:first-child {
		margin-block-start: 0;
	}

	.about-content {
		padding-block: var(--space-xs);
	}

	a.button,
	a.button:visited {
		background-color: var(--color-highlight);
		border: 2px solid var(--color-dark);
		color: var(--color-dark);
		border-radius: 5px;
		font-weight: 500;
		display: inline-block;
		padding: 0.5rem 1rem;
		text-decoration: none;
	}

	a.button:focus,
	a.button:visited:focus,
	a.button:hover,
	a.button:visited:hover {
		background-color: var(--color-dark);
		border: 2px solid var(--color-highlight);
		color: var(--color-highlight);
	}

	.highlight {
		color: var(--color-highlight);
	}

	body > footer {
		padding-block: var(--space-m);
	}

	footer > .footer-tagline {
		color: var(--color-highlight);
		font-size: var(--step-1);
		font-weight: 400;
		margin: 0;
		padding-block-end: var(--space-s);
	}

	footer > nav.footer-nav ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
		padding-block-end: var(--space-s);
	}

	footer > nav.footer-nav a,
	footer > nav.footer-nav a:visited {
		color: var(--color-light);
		text-decoration: none;
		text-transform: uppercase;
	}

	footer > nav.supplemental ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	footer > nav.supplemental a,
	footer > nav.supplemental a:visited {
		color: var(--color-light);
		font-size: var(--step-0);
		text-decoration: none;
		text-transform: uppercase;
	}

	footer > nav.supplemental span.this-page {
		color: var(--color-highlight);
		text-transform: uppercase;
	}

	footer > .contact-info {
		align-items: center;
		display: flex;
		gap: 1rem;
		justify-content: flex-end;
	}

	footer > .contact-info a,
	footer > .contact-info a:visited {
		color: var(--color-light);
		text-decoration: none;
	}

	footer a:focus,
	footer a:visited:focus,
	footer a:hover,
	footer a:visited:hover {
		border-radius: 5px;
		color: var(--color-highlight);
		outline-offset: 5px;
		outline: 1px solid var(--color-highlight);
	}
}

@layer responsive {
	@media (width <= 86rem) {
		body {
			grid-template-columns:
				[screen-start] 3svw repeat(18, [col-start] 1fr)
				[col-end] 3svw [screen-end];
			grid-template-rows: min-content auto min-content min-content;
			column-gap: 2svw;
			row-gap: 0;
		}

		body > header .logo {
			grid-column: col-start / span 3;
		}

		.logo p {
			font-size: var(--step-3);
			font-weight: 500;
		}

		body > header nav {
			grid-column: col-start 4 / span 15;
		}

		body > header nav .nav-list {
			align-items: flex-end;
			display: flex;
			gap: 1.25rem;
			justify-content: flex-end;
		}

		body > header nav .nav-mobile {
			display: none;
		}

		main {
			display: grid;
			grid-column: screen-start / screen-end;
			grid-template-columns: subgrid;
			grid-template-rows: min-content min-content auto;
		}

		main .hero {
			display: grid;
			grid-column: col-start / span 18;
			grid-template-columns: 1fr;
			grid-template-areas: "image" "text";
		}

		main .hero header {
			grid-column: col-start / span 18;
		}

		main .hero-text {
			grid-area: text;
		}

		main .hero-image {
			grid-area: image;
			margin-block-end: var(--space-s);
		}

		main .hero-image img {
			max-height: 25svh;
			object-fit: cover;
			width: 100%;
		}

		main .what > header,
		main .what > .lets-talk {
			grid-column: col-start / span 18;
		}

		main .one {
			grid-column: col-start / span 6;
		}

		main .two {
			grid-column: col-start 7 / span 6;
		}

		main .three {
			grid-column: col-start 13 / span 6;
		}

		main .audiences .one {
			grid-column: col-start / span 4;
		}

		main .audiences .two {
			grid-column: col-start 5 / span 5;
		}

		main .audiences .three {
			grid-column: col-start 10 / span 5;
		}

		main .four {
			grid-column: col-start 15 / span 4;
		}

		main .section-shaded,
		main .section-light {
			display: grid;
			grid-column: screen-start / screen-end;
			grid-template-columns: subgrid;
			grid-template-rows: min-content min-content auto;
		}

		main .section-shaded header,
		main .section-light header {
			grid-column: col-start / span 6;
		}

		main .section-shaded p,
		main .section-light p {
			grid-column: col-start 7 / span 12;
		}

		body > aside {
			display: grid;
			grid-column: screen-start / screen-end;
			grid-template-columns: subgrid;
		}

		body > aside.about header {
			grid-column: col-start / span 6;
		}

		body > aside.about .about-content {
			grid-column: col-start 7 / span 12;
		}

		body > footer {
			display: grid;
			grid-column: screen-start / screen-end;
			grid-template-columns: subgrid;
		}

		footer > .footer-tagline {
			grid-column: col-start / span 18;
		}

		footer > nav.footer-nav {
			grid-column: col-start / span 18;
		}

		footer > nav.supplemental {
			grid-column: col-start / span 9;
		}

		footer > .contact-info {
			align-items: center;
			display: flex;
			grid-column: col-start 10 / span 9;
			justify-self: flex-end;
		}
	}

	@media (width <= 75rem) {
		body > header .logo {
			flex-direction: column;
			gap: 0.75rem;
			grid-column: col-start / span 4;
			justify-content: flex-end;
		}

		body > header .logo > * {
			height: unset;
		}

		body > header nav {
			grid-column: col-start 5 / span 14;
		}

		body > header nav .nav-list {
			gap: 0.75rem;
		}

		body > header nav .nav-list li {
			line-height: 0.9;
		}

		body > header nav .nav-mobile {
			display: none;
		}
	}

	@media (width < 54rem) {
		body > header {
			padding-block-start: var(--space-s);
		}

		body > header nav .nav-list {
			display: none;
		}

		body > header nav .nav-mobile {
			display: block;
		}

		body > header nav .nav-mobile summary {
			cursor: pointer;
			list-style: none;
			text-align: right;
			text-transform: uppercase;
			color: var(--color-light);
			padding-block: 0.5rem;
		}

		body > header nav .nav-mobile summary::-webkit-details-marker {
			display: none;
		}

		body > header nav .nav-mobile summary::marker {
			content: "";
		}

		body > header nav .nav-mobile ul {
			background-color: var(--color-dark);
			border: 1px solid rgb(255 255 255 / 0.7);
			display: flex;
			flex-direction: column;
			gap: 0;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			right: 3svw;
			z-index: 10;
		}

		body > header nav .nav-mobile ul li {
			align-items: flex-start;
			border-bottom: 1px solid rgb(255 255 255 / 0.7);
			height: auto;
			line-height: 1.6;
			padding: var(--space-xs) var(--space-s);
		}

		body > header nav .nav-mobile ul li:last-child {
			border-bottom: none;
		}

		body > header nav {
			position: relative;
		}

		.hero header h1 {
			font-size: var(--step-2);
		}

		.lets-talk {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
			justify-content: space-between;
			padding-block-start: 0;
		}

		.lets-talk a.button {
			margin-inline-start: 0;
		}

		main .hero-text {
			padding-block-end: var(--space-l);
		}

		main .what,
		main .section-shaded,
		main .section-light {
			padding-block-start: var(--space-s);
		}

		main .what h2 {
			padding-block-start: 0;
		}

		main .one,
		main .two,
		main .three,
		main .four,
		main .audiences .one,
		main .audiences .two,
		main .audiences .three,
		main .section-shaded header,
		main .section-shaded > div,
		main .section-shaded p,
		main .section-light header,
		main .section-light > div,
		main .section-light p,
		body > aside.about header,
		body > aside.about .about-content {
			grid-column: col-start / span 18;
		}

		.section-shaded h2,
		.section-light h2,
		.about h2 {
			margin-block: 0;
			padding-block: var(--space-l) var(--space-xs);
		}

		.card h3 {
			font-size: var(--step-2);
		}

		.card p {
			margin-block: 0 var(--space-l);
		}

		.about-content {
			padding-block: 0 var(--space-l);
		}

		.about-content > * {
			padding-block: var(--space-xs);
			margin-block: 0;
		}

		footer > .footer-tagline,
		footer > nav.footer-nav,
		footer > nav.supplemental,
		footer > .contact-info {
			grid-column: col-start / span 18;
		}

		footer > nav.footer-nav {
			padding-block-start: var(--space-s);
		}

		footer > nav.footer-nav ul {
			flex-direction: column;
			gap: 0.5rem;
		}

		footer > nav.supplemental {
			padding-block-start: var(--space-s);
		}

		footer > nav.supplemental ul {
			flex-direction: column;
			gap: 0.5rem;
		}

		footer > .contact-info {
			justify-content: flex-start;
			padding-block-start: var(--space-s);
		}
	}

	@media (width < 27rem) {
		body > header {
			align-items: baseline;
			height: min-content;
		}

		body > header .logo {
			grid-column: col-start / span 9;
			margin-block: var(--space-l) var(--space-s);
		}

		body > header nav {
			grid-column: col-start 10 / span 9;
		}

		body > header nav ul li {
			height: unset;
		}

		body > header nav .nav-mobile ul {
			right: 0;
		}
	}
}
