@layer components {
	body > header div.logo > p > a,
	body > header div.logo > p > a:visited {
		text-transform: unset;
	}
}

@layer base {
	main > article h1 {
		margin-block-end: 1rem;
		padding-block: 0;
	}

	main > article h2,
	main > article h3 {
		margin-block-end: 0.5rem;
		margin-block-start: 2rem;
	}

	main {
		background-color: var(--color-light, #fcfbf0);
		color: var(--color-dark, #134e31);
	}

	main article p {
		margin-block-end: 1rem;
		margin-block-start: 0;
	}

	main.cookie-policy article.page,
	main.privacy-policy article.page,
	main.terms-of-use article.page {
		grid-column: col-start / screen-end;
		padding-block: 6rem;
	}

	main.cookie-policy article.page > *,
	main.privacy-policy article.page > *,
	main.terms-of-use article.page > * {
		margin-inline-end: 6svw;
		max-width: 48rem;
	}

	main article > section#agreement-to-terms header h2 {
		margin-block: 0;
		padding-block: 1rem;
	}
}
